on: push
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"
      - name: terraform-init
        run: terraform init

  terraform-ubuntu-22:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"
      - name: terraform-init
        run: terraform init